:root{
  --orange: #F2C14E;
  --white: #FFFFFF;
  --pink: #D95995;
  --blue: #04B2D9;
}

body{
  background-color: #123;
  color: var(--white);
  font-family:"Comic Sans MS", sans-serif;
}

.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

main{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.block{
  display: block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  line-height: 75px;
  font-size: 6rem;
  border-right: 2px var(--orange) solid;
  border-bottom: 2px var(--orange) solid;
}

.block:nth-child(3n){
  border-right: none;
}

.block:nth-child(6) ~ div.block{
  border-bottom: none;
}

.result{
  border-radius: 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  padding: 10px;
}

.result.green{
  background-color: var(--blue);
}

.result.red{
  background-color: var(--pink);
}

.reset{
  background-color: var(--orange);
  color: var(--white);
  border-radius: 2rem;
  border: none;
  max-width: 100px;
  margin-top: 1rem;
  padding: .5rem;
  align-self: center;
}

.reset:hover{
  background-color: var(--blue);
}

.block.x{
  color: var(--blue);
}

.block.o{
  color: var(--pink);
}
